{% load static from static %}
{% load course_extras %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block static %}{% endblock %}
</head>
<body>
    <div class="site-container">
        <nav>
            <a href="{% url 'home' %}">My site</a>
            <a href="{% url 'courses:list' %}">Cursos</a>
        </nav>
        <p>No te pierdas nuestro ultimo curso: {% last_course %}</p>
        {% block content %}{% endblock %}
    </div>
</body>
</html>