{% extends "layout.html" %}
{% load humanize %}
{% block title %}{{course.title}}{% endblock %}
{% block content %}
<article>
    <h2>
        <a href="{% url 'courses:detail' pk=course.pk %}">{{course.title}}</a>
    </h2>
    {{course.description}}

    <p>
        Hay <strong> {{ course.lesson_set.count|apnumber }} </strong> leccion{{ course.lesson_set.count|pluralize:"es" }} en este curso: {{ course.lesson_set.all|join:", " }}
    </p>

    <section>
        {% for lesson in course.lesson_set.all %}
        <h3>
            <a href="{% url 'courses:lesson' course_pk=lesson.course.pk lesson_pk=lesson.pk %}">{{lesson.title}}</a>
        </h3>

            {{lesson.description}}
        {% endfor %}
    </section>

</article>
{% endblock %}