{% extends 'layout.html' %}
{% load static from static %}
{% block static %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}
{% block title %} Cursos disponibles {% endblock %}
{% block content %}

{% for course in courses %}
    <div class="card">
        <header>
            <a href="{% url 'courses:detail' pk=course.pk %}">
                {{ course.title }}
            </a>
        </header>
        <div class="card-copy">
            {% if course.description|wordcount <= 5 %}
                {{course.description}}
            {% else %}
                {{course.description|truncatewords:5}}
                <a href="{% url 'courses:detail' pk=ourse.pk %}">leer mas</a>
            {% endif %}
            <div>
                Creado el: {{ course.created_at|date:"d-m-y" }}
            </div>
        </div>
    </div>
{% endfor %}
    <div>
        Contacto:
        <a href="mailto:{{ email }}">Correo</a> <br/>
        {{ email|urlize }}
    </div>

{% endblock %}

